.information

  &__title
    margin: 10px 0
    display: block
    font-size: 20px
    +h300

    &.is-fz-18
      font-size: 18px

    &.is-semibold
      +h600

  &__text
    padding-bottom: 5px

  a
    color: $linkBlue

  .list
    margin-top: 17px

    &__el
      margin-bottom: 2px

  .content__title
    padding-bottom: 8px


  .i-pb-18
    padding-bottom: 18px