.main-banner
  padding-top: 60px
  padding-bottom: 50px
  background: url('../img/main-bg.png')
  background-size: cover

  &__title
    color: #fff

  &__subtitle
    margin: 25px 0
    color: #fff
    font-size: 15px