.table
  table-layout: fixed
  width: 100%
  margin-top: 14px
  margin-bottom: 68px

  thead
    background-color: #f6f7fa

  tr
    height: 30px
    line-height: 30px

    &:nth-child(even)
      background-color: #fafbfc

  th
    position: relative
    height: 35px
    line-height: 35px
    text-align: left
    padding-left: 25px
    font-size: 14px
    text-transform: uppercase
    +h600

    &.sorting,
    &.sorting_asc,
    &.sorting_desc
      cursor: pointer

    &::after,
    &::before
      position: absolute
      content: ''
      left: 12px
      transform: translateY(-50%)
      width: 0
      height: 0
      border-style: solid

    &::after
      top: calc(50% - 4px)
      border-width: 0 3px 4px 3px
      border-color: transparent transparent #4d5257 transparent

    &::before
      top: calc(50% + 4px)
      border-width: 4px 3px 0 3px
      border-color: #4d5257 transparent transparent transparent

    &:first-child
      width: 29%

    &:nth-child(2)
      width: 43%

    &:nth-child(3)
      width: 14%

    &:last-child
      width: 14%

    &.sorting_desc

      &::after
        display: none

    &.sorting_asc

      &::before
        display: none

  td
    padding-left: 25px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    &:last-child
      text-align: center
      padding-right: 30px

    .rating-value
      display: none

  a
    color: #2992e0

  &.is-three-column
    th
      &:first-child
        width: 22%

      &:nth-child(2)
        width: 58%

      &:last-child
        width: 20%

      td

        &:last-child
          padding-right: 30px


.table-small
  width: 100%

  thead
    margin-bottom: 10px

  tr
    height: 26px
    line-height: 26px

    &:nth-child(even)
      background-color: #fafbfc

  th
    font-size: 14px
    color: #99a1a8

    &:first-child
      letter-spacing: 1px
      height: 40px
      text-align: left
      font-size: 22px
      color: #4d5257

  td
    text-align: center
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    &:first-child
      width: 60%
      text-align: left

    &:nth-child(2),
    &:nth-child(3)
      font-size: 12px
      color: #99a1a8

    a
      color: $textBlack