.table-dll
  margin-bottom: 25px
  table-layout: fixed
  white-space: nowrap

  .test
    display: inline-block
    width: 100%
    overflow: hidden

  .test-inner
    text-overflow: ellipsis

  thead
    background-color: #f6f7fa

    th
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

      &:first-child
        width: 22%

      &:nth-child(2)
        width: 10%

      &:nth-child(3)
        width: 12%

      &:nth-child(4)
        width: 30%

      &:nth-child(5)
        width: 12%

      &:last-child
        width: 14%
        text-align: center

  th
    height: 36px
    line-height: 36px
    padding-left: 10px
    text-align: left
    font-size: 14px
    +h600

  tr
    height: 30px
    line-height: 28px
    padding-bottom: 0

    &:nth-child(even)
      background-color: #fafbfc

  td
    position: relative
    padding-left: 10px
    text-align: left
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    //&:first-child
    //  width: 24%
    //
    //&:nth-child(2)
    //  width: 10%
    //
    //&:nth-child(3)
    //  width: 12%
    //
    //&:nth-child(4)
    //  width: 34%
    //
    //&:nth-child(5)
    //  width: 5%
    //
    //&:last-child
    //  width: 15%
    //  text-align: center

  &__bit
    padding: 1px 4px
    font-size: 10px
    color: #fff
    background-color: #6f757d
    +h600

  &__hash
    display: inline-block
    padding: 0 4px
    height: 15px
    line-height: 15px
    margin-right: 8px
    font-size: 10px
    color: #fff
    background-color: #6f757d
    cursor: pointer
    user-select: none
    +h600

    &:last-child
      margin-right: 0

    &:hover
      text-decoration: none
      background-color: #3495df

  &__link
    color: $linkBlue