<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__left">
        <ul class="list">
          <li class="list__el">
            <a href="#" class="list__link">Company</a>
          </li>
          <li class="list__el">
            <a href="#" class="list__link">Partners</a>
          </li>
          <li class="list__el">
            <a href="#" class="list__link">Privacy policy</a>
          </li>
          <li class="list__el">
            <a href="#" class="list__link">Legal notice</a>
          </li>
        </ul>
        <p class="copyright">
          © 2017 Corel Corporation or its subsidiaries. All rights reserved. ReviverSoft is now part of Corel Corporation.
        </p>
      </div><!-- end footer__left -->
      <div class="footer__right">
        <div class="social">
          <ul class="social__list">
            <li class="social__el">
              <a href="#" target="_blank" class="social__link">
                <i class="ico is-fb"></i>
              </a>
            </li>
            <li class="social__el">
              <a href="#" target="_blank" class="social__link">
                <i class="ico is-tw"></i>
              </a>
            </li>
            <li class="social__el">
              <a href="#" target="_blank" class="social__link">
                <i class="ico is-gp"></i>
              </a>
            </li>
          </ul>
        </div><!-- end social -->
      </div><!-- end footer__right -->
    </div><!-- end footer__wrap -->
  </div><!-- end container -->
</footer><!-- end footer -->