<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__left">
        <div class="logo">
          <a href="#" class="logo__link">
            <img src="img/logo.svg" class="logo__img" alt="logo"/>
          </a>
        </div><!-- end logo -->
      </div>
      <div class="header__right">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__el">
              <a href="#" class="nav__link">Dll Fixer</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Request a Dll file</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Upload Dll file</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Blog</a>
            </li>
          </ul>
        </nav>
        <div class="search">
          <form action="#" class="search__form" id="header-search-form">
            <input class="search__input"
                   id="header-search-input"
                   type="text"
                   placeholder="Search"/>
            <button class="search__btn" type="submit">
              <span class="ico is-search"></span>
            </button>
            <!--<div class="search__ico"></div>-->
          </form>
        </div><!-- end search -->
        <div class="language-wrap">
          <i class="language__ico ico is-arrow"></i>
          <ul class="language">
            <li class="language__el is-active" data-lang="en">
              <a class="language__link">En</a>
            </li>
            <li class="language__el" data-lang="de">
              <a class="language__link">De</a>
            </li>
            <li class="language__el" data-lang="es">
              <a class="language__link">Es</a>
            </li>
            <li class="language__el" data-lang="fr">
              <a class="language__link">Fr</a>
            </li>
          </ul>
        </div><!-- end language-wrap -->
      </div>
    </div>
  </div>
</header><!-- end header -->