<div class="pre-footer">
  <div class="container">
    <div class="pre-footer__wrap">
      <div class="pre-footer__left">
        <div class="facebook">
          <img src="img/facebook.png" alt="facebook">
        </div>
      </div>
      <div class="pre-footer__center">
        <div class="review">
          <p class="review__text">”Yay! My GTA 5 works again. So happy I was able to fix it with your help.”</p>
          <p class="review__autor">Jorma Filatov</p>
        </div>
      </div>
      <div class="pre-footer__right">
        <div class="article">
          <span class="article__title">Last Articles</span>
          <ul class="article__list">
            <li class="article__el">
              <a href="#" class="article__link">Fix for bink2w64.dll is missing error in Call of Duty:WWII</a>
            </li>
            <li class="article__el">
              <a href="#" class="article__link">How to fix d3dx9_42.dll is missing error in Minecraft</a>
            </li>
            <li class="article__el">
              <a href="#" class="article__link">Fixing vcruntime140.dll is missing error in Adobe Audition</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!-- end pre-footer -->